body{
	font-family: 'Roboto', sans-serif;
}

#main{
	width: 70%;
	margin: 0 auto;
}

p.notice{
	background: #2ECC71;
	color: #fff;
	border-radius: 4px;
	width: 30%;
	text-align: center;
	padding: 15px;
}

%btn{
	color: #fff;
	background: #81A3D0;
	padding: 3px 0;
	font-size: 15px;
	text-align: center;
	margin: 0 auto;
	width: 120px;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
}

header {
	h1{
		text-align: center;
	}
}

#dogs{
	text-align: center;
	li{
		display: inline-block;
		width: 30%;
		box-sizing: border-box;
		border: 1px solid #ccc;
		border-radius: 10px;
		margin: 0 14px 20px 0 ;
		padding: 20px;
		img{
			width: 85%;
			margin: 0 auto;
			display: block;
		}
	}
	a.btn{
		@extend %btn;
	}
}

form[name="DogForm"]{
	.ng-invalid.ng-dirty { background-color: lightpink; }
  .ng-valid.ng-dirty { background-color: lightgreen; }
  width: 250px;
  margin: 0 auto;
  input[type="text"]{
  	width: 250px;
  	border-radius: 5px;
  	border: 1px solid #ccc;
  	padding: 5px;
  	margin: 4px 0;
  }
  select{
  	width: 260px;
  	border-radius: 5px;
  	border: 1px solid #ccc;
  	padding: 5px;
  	margin: 4px 0;
  }
  button{
  	border: 0;
  	@extend %btn;
  }

}