<ul id="dogs">
	<li ng-repeat="thing in things">
	    {{thing}}
	</li>
	<!--<li>
		<h3>Calvin</h3>
		<%= image_tag "dog.jpg" %>
		<p>Calvin is very funny! Have a great time with him!</p>
		<a class="btn" href="">Adopt</a>
	</li>
	<li>
		<h3>Calvin</h3>
		<%= image_tag "dog.jpg" %>
		<p>Calvin is very funny! Have a great time with him!</p>
		<a class="btn" href="">Adopt</a>
	</li>
	<li>
		<h3>Calvin</h3>
		<%= image_tag "dog.jpg" %>
		<p>Calvin is very funny! Have a great time with him!</p>
		<a class="btn" href="">Adopt</a>
	</li>
	<li>
		<h3>Calvin</h3>
		<%= image_tag "dog.jpg" %>
		<p>Calvin is very funny! Have a great time with him!</p>
		<a class="btn" href="">Adopt</a>
	</li>-->
</ul>