<form name="DogForm" novalidate>
	<table>
		<tr><td colspan="2"><input type="text" ng-model="dog.name" placeholder="Insert name" required></td></tr>
		<tr><td colspan="2"><input type="text" ng-model="dog.breed" placeholder="Insert breed" required></td></tr>
		<tr><td colspan="2">
			<select name="sex" ng-model="dog.sex" required>
				<option selected value="">--Sex--</option>
				<option value="Male">Male</option>
				<option value="Female">Female</option>
			</select>
		</td></tr>
		<tr><td colspan="2">
			<select name="size" ng-model="dog.size" required>
				<option value="" selected="selected">--Size--</option>
				<option value="Small">Small</option>
				<option value="Medium">Medium</option>
				<option value="Large">Large</option>
			</select>
		</td></tr>
		<tr>
			<td colspan="2"><textarea placeholder="Insert a description" name="description" ng-model="dog.description"></textarea></td>
		</tr>
		<tr><td>
			<a href="#/">Back</button>
		</td><td><button ng-click="registerDog()" ng-disabled="DogForm.$invalid">Register</button></td></tr>
	</table>
</form>